<!DOCTYPE html>
<html>
<head>
    
  <meta charset="UTF-8">
  <title>staycations</title>
  <style>
    body {
        margin: 100px;
        padding: 0px;
        background-color: beige;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrc1ib1cJoDVm6sO7rDN8QQMXBHY0_0imEIUTA8ext-zh-Msmb2Dz9tN1vdeeuSrgaT3c&usqp=CAU); 
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 16px;
    }

    h1 {
        text-align: center;
        margin: 40px 0;
        font-size: 58px;
        font-family: 'Sacramento', regular;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    li {
        width: 30%;
        height: 500px;
        margin-bottom: 40px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
    }

    li:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    h2, p {
        padding: 10px;
        margin: 0;
    }

    h2 {
        font-size: 24px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: center;
        margin-top: 10px;
    }

    p {
        font-size: 14px;
        color: #666;
    }

    a {
        display: block;
        text-align: center;
        margin: 40px 0;
        color: #201f1f;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        border: 2px solid #000;
        padding: 10px 20px;
        border-radius: 5px;
        transition: all 0.3s ease;
        font-family: 'Sacramento', regular;
        font-size: 24px;
    }

    a:hover {
        background-color: #000;
        color: #fff;
    }
</style>

<head>
    <title>Staycation</title>
</head>
<body>
  <h1>The Staycation Maven</h1>
  <% if (staycations.length === 0) { %>
    <p>No staycations found.</p>
  <% } else { %>
    <ul>
      <% staycations.forEach(function(staycation) { %>
        <li>
          <h2><%= staycation.location %></h2>
          <a href="/staycations/<%= staycation._id %>">
            <img src="<%= staycation.cityImg %>" alt="<%= staycation.restaurant %>">
            <!-- <img src="<%= staycation.indexImg %>" alt="<%= staycation.restaurant %>"> -->
          </a>
          <!-- <a href="/staycations/<%= staycation._id %>/edit">Edit</a>
          <form action="/staycations/<%= staycation._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete"> -->
          </form>
          
        </li>
      <% }) %>
    </ul>
  <% } %>
  <a href="/staycations/new">Add New Staycation</a>
 
  
  
</body>

  